name: CI

on:
  push:
  pull_request:
  workflow_dispatch:    

permissions:
  # This enables publishing the dependency graph
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up JDK 8
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'sbt'

    - name: Setup sbt launcher
      uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

    - name: Run tests and generate coverage report
      run: sbt coverageOn scripted coverageReport

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: target/scala-2.12/sbt-1.0/coverage-report/cobertura.xml
        verbose: true

      # This step uploads information to the GitHub dependency graph and unlocks Dependabot alerts for the repository
    - name: Upload dependency graph
      uses: scalacenter/sbt-dependency-submission@64084844d2b0a9b6c3765f33acde2fbe3f5ae7d3 # v3.1.0
      if: github.event_name != 'pull_request'
